# build artefacts / metadata
*.egg-info/
dist/
build/
__pycache__/

# venvs
.venv/
env/

# IDE / OS
.vscode/
.idea/
*.swp

# secrets
.env

# coverage
.coverage
htmlcov/*

# logs
*.log

# cache
*.cache
*.pyc
*.pyo
*.pyd

# test
*.pytest_cache/
.nox/
.tox/

# Jupyter Notebook
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JupyterLab
.jupyterlab/workspaces/

# Miniconda
miniconda3/

# Custom application folders
graphs/

.hypothesis/

# Reports folder
reports/

# Specific files to ignore
add.txt
log.txt