aiohttp
fastapi
gate-api
hypothesis
jinja2
joblib
matplotlib
numpy
optuna
pandas
plotly
pytest
pytest-asyncio
requests
scikit-learn
ta
uvicorn
xgboost-cpu
pytest-cov
pytest-mock
asyncpg>=0.29.0
PyYAML>=6.0
websocket-client
psycopg2-binary
torch
gymnasium
seaborn
